:root {
    --cell-size: 100px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    border-style: solid;
    border-width: 1px;
    border-color: red;
}

.conatiner, .header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-1, .player-2 {
    display: flex;
    gap: 20px;
}

.game-grid {
    display: grid;
    grid-template-rows: repeat(3, var(--cell-size));
    grid-template-columns: repeat(3, var(--cell-size));
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--cell-size);
    font-family: Verdana, sans-serif;
}

.cell:hover {
    box-shadow: inset 0 0 10px lightgray;
}