:root {
    --cell-size: 100px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    /* border-style: solid;
    border-width: 1px;
    border-color: red; */
}

.conatiner, .header, .player-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.conatiner {
    margin: 40px 0px 40px 0px;
}

.header .title {
    font-size: 2rem;
}

.player-1, .player-2 {
    display: flex;
    gap: 20px;
    flex: 1;
    margin-right: auto;
    width: 100%;
    padding: 10px;

    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: lightgray;
}

.player-1 .name, .player-2 .name {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 1px;
}

.game-grid {
    display: grid;
    grid-template-rows: repeat(3, var(--cell-size));
    grid-template-columns: repeat(3, var(--cell-size));
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--cell-size);
    font-family: Verdana, sans-serif;

    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.cell:hover {
    box-shadow: inset 0 0 10px lightgray;
}

button {
    font-size: 1rem;
    border-radius: 15px;
    padding: 10px 15px;
    border-style: none;
}

button:hover {
    opacity: 0.5;
}